   <div class="row">
    <form class="col s12">
      
      <div class="row">
        <div class="input-field col s6">
          <input  id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      
        <div class="row">
        <div class="input-field col s6">
          <input id="aadhar" type="text" class="validate">
          <label for="aadhar">Aadhar Number</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s6">
          <input id="location" type="text" class="validate">
          <label for="location">Location of Land</label>
        </div>
      </div>
    
      <div class="row">
        <div class="input-field col s6">
          <input id="crop" type="text" class="validate">
          <label for="crop">Crop to be planted</label>
        </div>
      </div>    
    
      <div class="row">
        <div class="input-field col s6">
          <input id="area" type="text" class="validate">
          <label for="area">Area to be sown</label>
        </div>
      </div>
        
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
        
    </form>
  </div>
